<!--{% load static %}-->
<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'css/bootstrap.min.css' %}"rel="stylesheet">
	<link href="{% static 'css/stylecss.css' %}" rel="stylesheet" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'media/solar-titlebar.png' %}" />
    <title>Sales Properties Summary</title>
</head> 

<style>
    @media screen and (max-width: 1200px) {
        #search {
            display: none;
        }
    }
</style> 
    
<body>
    <div class="navbar" style="background-image: url({% static 'media/orange-bg.png' %});">
        <img src="{% static 'media/solarpic.png' %}" class="topnav-logo">
        <a href="/homepage" class="home-btn">Home</a>
         {% if loggeduser.accountType == 1 %}
        <div class="dropdown">
          <button class="dropbtn" >Lease Properties
          </button>
          <div class="dropdown-content">
            <a href="/homepage/leaseregister">Add</a>
            <a href="/homepage/leaseview">Display</a>
            <a href="/homepage/leaseedit">Edit/Delete</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn" id="active">Sales Properties
          </button>
          <div class="dropdown-content">
            <a href="/homepage/salesform">Add</a>
            <a href="/homepage/salesview">Display</a>
            <a href="/homepage/salesedit">Edit/Delete</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Export
          </button>
          <div class="dropdown-content">
            <a href="/homepage/export_sales/">Sales</a>
            <a href="/homepage/export_lease/">Lease</a>
          </div>
        </div>
        
        {% elif loggeduser.accountType == 0 %}
        <a href="/homepage/leaseview">Lease Properties</a>
        <a href="/homepage/salesview" style="background-color: royalblue;">Sales Properties</a>
        <div class="dropdown">
          <button class="dropbtn">Export
          </button>
          <div class="dropdown-content">
            <a href="/homepage/export_sales/">Sales</a>
            <a href="/homepage/export_lease/">Lease</a>
          </div>
        </div>
        {%endif%}
        <div id="search">
            <select id="list">
               <option value="0">Payment Status</option>
               <option value="1">Region</option>
               <option value="2">Province</option>
               <option value="3">Municipality</option>
               <option value="4">Barangay</option>
               <option value="5">Registered Landowner</option>
               <option value="6">Payee</option>
               <option value="7">Title No.</option>
               <option value="8">Area</option>
               <option value="9">Sale Price per Hectare</option>
               <option value="10">Title Contract Price</option>
            </select>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search" title="Search" style="background-image: url({% static 'media/search.png' %});">
        </div>
    </div>
    
            
        <div style="padding-top: 60px;">
            <table id="myTable">
                <thead>
				    <tr>
				    	<th rowspan="2" id="tr-head" style="font-size: 15px;">Payment Status (%PAID)</th>
				    	<th rowspan="2" id="tr-head" style="font-size: 15px;">Region</th> 
				    	<th rowspan="2" id="tr-head" style="font-size: 15px;"><div style="width:110px">Province</div></th>
				    	<th rowspan="2" id="tr-head" style="font-size: 15px;"><div style="width:150px">Municipality</div></th>
				    	<th rowspan="2" id="tr-head" style="font-size: 15px;"><div style="width:150px">Barangay</div></th>
				    	<th rowspan="2" id="tr-head" style="font-size: 15px;"><div style="width:250px">Registered Landowner</div></th>
				    	<th rowspan="2" id="tr-head" style="font-size: 15px;"><div style="width:250px">Payee</div></th>
				    	<th rowspan="2" id="tr-head" style="font-size: 15px;"><div style="width:120px">Title No.</div></th>
				    	<th rowspan="2" id="tr-head" style="font-size: 15px;">Area(hectares)</th>
				    	<th rowspan="2" id="tr-head">Sale Price Per Hectare</th>
				    	<th rowspan="2" id="tr-head">Total Contract Price</th>
				    	<th colspan="2" id="tr-head">1st Payment</th>
				    	<th colspan="2" id="tr-head">2nd Payment</th>
				    	<th colspan="2" id="tr-head">3rd Payment</th>
				    	<th colspan="2" id="tr-head">4th Payment</th>
				    	<th colspan="2" id="tr-head">5th Payment</th>
				    	<th colspan="2" id="tr-head">6th Payment</th>
				    	<th colspan="2" id="tr-head">7th Payment</th>
				    	<th colspan="2" id="tr-head">8th Payment</th>
				    	<th colspan="2" id="tr-head">9th Payment</th>
				    	<th colspan="2" id="tr-head">10th Payment</th>
				    	<th rowspan="2" id="tr-head">Released Payment</th>
				    	<th rowspan="2" id="tr-head">Balance</th>
				    	<th colspan="2" id="tr-head">BIR</th>
				    	<th rowspan="1" id="tr-head">LGU</th>
				    	<th colspan="2" id="tr-head">ROD</th>
				    	<th rowspan="1" id="tr-head">Others</th>
				    	<th rowspan="2" id="tr-head"><div style="width:100px;">Sum of other expenses</div></th>
				    	<th rowspan="2" id="tr-head"><div style="width:100px;">Taxes and other Fees</div></th>
				    </tr>
				      
				    <tr>
				    	<th id="tr-head"><div style="width:100px;">Amount</div></th>
				    	<th id="tr-head"><div style="width:100px;">Date Released</div></th>
				    	<th id="tr-head"><div style="width:100px;">Amount</div></th>
				    	<th id="tr-head"><div style="width:100px;">Date Released</div></th>
				    	<th id="tr-head"><div style="width:100px;">Amount</div></th>
				    	<th id="tr-head"><div style="width:100px;">Date Released</div></th>
				    	<th id="tr-head"><div style="width:100px;">Amount</div></th>
				    	<th id="tr-head"><div style="width:100px;">Date Released</div></th>
				    	<th id="tr-head"><div style="width:100px;">Amount</div></th>
				    	<th id="tr-head"><div style="width:100px;">Date Released</div></th>
				    	<th id="tr-head"><div style="width:100px;">Amount</div></th>
				    	<th id="tr-head"><div style="width:100px;">Date Released</div></th>
				    	<th id="tr-head"><div style="width:100px;">Amount</div></th>
				    	<th id="tr-head"><div style="width:100px;">Date Released</div></th>
				    	<th id="tr-head"><div style="width:100px;">Amount</div></th>
				    	<th id="tr-head"><div style="width:100px;">Date Released</div></th>
				    	<th id="tr-head"><div style="width:100px;">Amount</div></th>
				    	<th id="tr-head"><div style="width:100px;">Date Released</div></th>
				    	<th id="tr-head"><div style="width:100px;">Amount</div></th>
				    	<th id="tr-head"><div style="width:100px;">Date Released</div></th>
				    	<th id="tr-head"><div style="width:100px;">CGT(6%)</div></th>
				    	<th id="tr-head"><div style="width:100px;">DST(3%)</div></th>
				    	<th id="tr-head"><div style="width:100px;">Transfer Fee(1%)</div></th>
				    	<th id="tr-head"><div style="width:100px;">LRA Fee(1%)</div></th>
				    	<th id="tr-head"><div style="width:100px;">I.T Fee</div></th>
				    	<th id="tr-head"><div style="width:100px;">Notorial Fee(1%)</div></th>
				    </tr>
                </thead>
                <tbody>
                    {% for property  in all_properties%}
                <tr id="tr-hover">
				    <td> {{ property.paidstatus|floatformat:2}}%</td>
					 <td> {{ property.region}}</td>
                     <td> {{ property.province}}</td>
                     <td> {{ property.municipality}}</td>
                     <td> {{ property.barangay}}</td>
                     <td> {{ property.regLandOwner}}</td>   
                     <td> {{ property.Payee}}</td>
                     <td> {{ property.titleNum}}</td> 
                    <td id="tr-number"> {{ property.areaHectares|floatformat:2}}</td>
                    {% load humanize %}
                    <td id="tr-number"> {{ property.pricePerHectare|floatformat:2|intcomma }}</td>
                    <td id="tr-number"> {{ property.totalContractPrice|floatformat:2|intcomma }}</td>  
                    <td id="tr-number"> {{ property.firstPayAmount|floatformat:2|intcomma }}</td>
                     <td> {{ property.firstPayDate}}</td>
                    <td id="tr-number"> {{ property.secPayAmount|floatformat:2|intcomma }}</td>
                     <td> {{ property.secPayDate}}</td>
                    <td id="tr-number"> {{ property.thirdPayAmount|floatformat:2|intcomma }}</td>
                     <td> {{ property.thirdPayDate}}</td>
                    <td id="tr-number"> {{ property.fourthPayAmount|floatformat:2|intcomma }}</td>
                     <td> {{ property.fourthPayDate}}</td>
                    <td id="tr-number"> {{ property.fifthPayAmount|floatformat:2|intcomma }}</td>
                     <td> {{ property.fifthPayDate}}</td>
                         
                    <td id="tr-number"> {{ property.sixthPayAmount|floatformat:2|intcomma }}</td>
                     <td> {{ property.sixthPayDate}}</td>
                    <td id="tr-number"> {{ property.seventhPayAmount|floatformat:2|intcomma }}</td>
                     <td> {{ property.seventhPayDate}}</td>
    
                    <td id="tr-number"> {{ property.eigthPayAmount|floatformat:2|intcomma }}</td>
                     <td> {{ property.eigthPayDate}}</td>
                    <td id="tr-number"> {{ property.ninthPayAmount|floatformat:2|intcomma }}</td>
                     <td> {{ property.ninthPayDate}}</td>
                    <td id="tr-number"> {{ property.tenthPayAmount|floatformat:2|intcomma }}</td>
                     <td> {{ property.tenthPayDate}}</td>    
                         
                    <td id="tr-number"> {{ property.releasedPayment|floatformat:2|intcomma }}</td>    
                    <td id="tr-number"> {{ property.balance|floatformat:2|intcomma }}</td>    
                    
                    <td id="tr-number"> {{ property.BIRcgt|floatformat:2|intcomma }}</td>    
                    <td id="tr-number"> {{ property.BIRdst|floatformat:2|intcomma }}</td>  
                    <td id="tr-number"> {{ property.LGUtransfer|floatformat:2|intcomma }}</td>    
                    <td id="tr-number"> {{ property.RODlra|floatformat:2|intcomma }}</td>  
                   
                     
                    <td id="tr-number"> {{ property.RODit|floatformat:2|intcomma }}</td>    
                     <td id="tr-number"> {{ property.OTHERSnotorial|floatformat:2|intcomma }}</td> 
                    <td id="tr-number"> {{ property.SUMother|floatformat:2|intcomma }}</td>  
                    <td id="tr-number"> {{ property.TAXother|floatformat:2|intcomma }}</td> 
                </tr>
				 {% endfor%}
                </tbody>
				  				  
            </table>
        </div>
</body>

       
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, dropdown;
        dropdown = document.getElementById("list").value;
        
        
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[dropdown];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }       
        }
    }
</script>

</html>